In [1]:
import pandas as pd
from sklearn import neighbors
import numpy as np

In [2]:
#load in data provided by instructions
url = 'https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv'
data = pd.read_csv(url, encoding = "ISO-8859-1")

In [45]:
#check data
data.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

In [17]:
#Drop columns we do not need (don't need movie ID and Label column appears to be blank)
df = data.drop(columns=['Movie ID','Label'])
df.head()

,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History
0,The Imitation Game,8.0,1,1,1,0,0,0,0
1,Ex Machina,7.7,0,1,0,0,0,1,0
2,A Beautiful Mind,8.2,1,1,0,0,0,0,0
3,Good Will Hunting,8.3,0,1,0,0,0,0,0
4,Forrest Gump,8.8,0,1,0,0,0,0,0

In [22]:
#We cannot pass the movie names into the model, so we subset for training data
dfTrain = df.iloc[:,1:9]

In [23]:
#Build Nieghbors Classifier Model
#Because our dataset is fairly small n=30 and D = 9, we can use Brute Force algorithm
neigh = neighbors.NearestNeighbors(n_neighbors=5, algorithm='brute')
neigh.fit(dfTrain)

NearestNeighbors(algorithm='brute')

In [63]:
#Now we will find neighbors for a given sample movie "The Post"
#This movie's attributes are provided in the instructions and shown below:
#Here we have made this a function to automate given a new movie input
def InputMovie(IMDB, Bio, Drama, Thrill, Com, Crime, Mys, Hist):
    Movdict = {'IMDB Rating': IMDB, 'Biography': Bio, 'Drama':Drama,'Thriller':Thrill,
                'Comedy':Com,'Crime':Crime,'Mystery':Mys,'History':Hist}
    df = pd.DataFrame(Movdict, index=[0])
    return df

In [64]:
#Generate Feature inputs for the Post movie
Postdf = InputMovie(7.2,1,1,0,0,0,0,1)
Postdf

   IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0          7.2          1      1         0       0      0        0        1

In [65]:
#Use Model to find neighbor values
NeighPositions = neigh.kneighbors(Postdf)[1][0]
#Display names of most similar movies at given locations
print('If you enjoy "The Post" then you may also like:')
for po in NeighPositions:
    print(df['Movie Name'].iloc[po])

If you enjoy "The Post" then you may also like:
12 Years a Slave
Hacksaw Ridge
Queen of Katwe
The Wind Rises
The Karate Kid

In [ ]:
#This output makes sense when we check the genre categories for these resulting movies,
#Karate Kid does not seem to be as similar as these other movies but it also has the same exact IMDB rating as The Post